# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/


# PyInstaller
dist/
build/
*.spec

# Exclude all executables and package files
*.exe
*.pkg

# Exclude virtual environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Tesseract
Tesseract-OCR/

# Misc
*.bak
*.tmp

# Test
coverage/
*.cover

# Jupyter
.ipynb_checkpoints/
*.ipynb
